a.navbar-brand > span#nameheader {
    background: black;
    padding: 3px 13px;
    float: left;
    margin-left: -70px
}

div.navbar-right > span.nameheader {
    background: black;
    /*padding: 13px;*/
    float: right;
    margin-left: -70px
}
a.navbar-brand {
    padding: 0px, 15px;
}
a.navbar-brand:hover
{
        box-shadow:
                1px 1px #53a7ea,
                2px 2px #53a7ea,
                3px 3px #53a7ea;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}

a.nameheader-collapse {
  width: 1%;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 10s ease;
}

span#nameheader > span.light {
    font-weight: 100;
}

.span#nameheader.sl-w1{
	color:#fff;
	text-shadow:0px 0px 1px #fff;
	z-index:2;
}
.span#nameheader.sl-w2{
	color:#e82760;
	text-shadow:-1px 1px 2px #9f0633;
	z-index:3;
}

p.intro-text {
    border: 1px;
    background: #fff;
}

ul.tiles {
    margin: 15px -30px 15px -15px;
    padding: 0;
    display: block;
}

li.project_tile {
    padding: 15px;
    margin: 0 15px 15px 0;
    float: left;
    background: #fff;
    min-height: 10em;
    width: 23%;
    color: #000;
    font-size: .8em;
    font-family: arial,sans-serif;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.6);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.6);
    box-shadow: 1px 1px 1px rgba(0,0,0,.6);
    list-style-type: none;
}

li.project_tile > a {
    color: black;
}

h3.project_title {
    font-size: 18px;
    color:grey;
}

p.project_desc {
    font-size: 15px;
}

div.project_tag {
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    padding: 0 3px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

div.completed {
    background-color: #3fb459;
}

div.wip {
    background-color: #e2e361;
}

div.panel {
    /*-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;*/
}

div.panel_title {

}

div.box {
    height:100%;
}

/*p.panel_body {
    color: black;
    font-size:15px;
    text-align:left;
    padding: 0 10px;*/
}

footer p{
    font-size: 12px;
}
